<%- include('./partials/header.ejs') %> 

    <div class="main-content">
        <div class="first-para">
            <p>
                From the moment you turn on the television to the moment you mind-numbingly scroll through social media
                there’s
                just one common thing — suffering and negativity. This pandemic is one of the worst in history claiming
                more
                than 8,00,000 lives across the world and leaving 40 million Americans unemployed. With the new reality
                of masks
                and virtual meetings, there is little to no real interpersonal interaction thereby negatively affecting
                the
                mental and emotional health.
            </p>
        </div>
        <div class="second-para">
            <div>
                <img style="max-width: 100%; max-width: 100%;" src="images/bermuda-virtual-reality.png"
                    alt="philosophy">
            </div>
            <div>
                <p>
                    Being an extrovert it’s especially hard for me to not be able to go out and meet people thanks to
                    social
                    distancing. In these dire times, the only thing that’s helping me a lot is having a philosophy of
                    life. I was
                    (at times still am) insecure about certain aspects of my life. And, this insecurity started a
                    burning desire to
                    improve and to look out for a solution that would help me better handle my insecurities and low-self
                    esteem
                    issues. <b>Philosophy Dojo</b> is for everyone who share the same passion and desire to learn and better themselves
                </p>
            </div>

        </div>
    </div>
    <%- include('./partials/footer.ejs') %> 