<footer class="footer-class">
    <div class="footer"><h2>Want to know more? Contact Us!</h2></div>
    <div class="contact">
        <form>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email..">
        
            <label for="subject">Write to us</label>
            <textarea id="subject" name="subject" placeholder="Write something here.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="footer copyright">
        <small>Made with ❤️ by Sharik U Zama, UNCC</small> <br>
        <small>&copy; Copyright 2021, Sharik Corporation</small> <br>
    </div>
    <div class="about">
        <a href="/about"><small>about</small></a>
        <a href="/contact"><small>contact</small></a><br>
    </div>

    <div class="icons">
        <a href="https://www.linkedin.com/in/sharik-u-zama-0781b0140/" target="_blank"><i class="fab fa-linkedin-in fa-2x connect-icon"></i></a>
        <div class="tooltip"><i class="fas fa-phone-alt fa-2x connect-icon" style="cursor: pointer;"></i>
            <span class="tooltiptext">+1 980 327 9439</span>
        </div>
        <a href="https://www.instagram.com/invites/contact/?i=i5gx9s6bfqw6&utm_content=hxe6uxu" target="_blank"><i class="fab fa-instagram fa-2x connect-icon"></i></a>
        <div class="tooltip"><i class="fas fa-map-marker-alt fa-2x connect-icon" style="cursor: pointer;"></i>
            <span class="tooltiptext">UNC, Charlotte</span>
        </div>
    </div>
</footer>
</body>

</html>