<%- include('../partials/header.ejs') %>
<div class="main-content">
    <h2>About Us</h2>
    <p>Philosophy Dojo is a meetup web application made by <b>Sharik</b> for people who're into self-improvement to form communities that share same interests</p>
    <p>Contact <b>Sharik by email </b>for any questions</p>
</div>
<%- include('../partials/footer.ejs') %>
